import(MASS)
import(stats)
import(geepack)
import(bindata)
import(PoisNor)
export(wgee,MLIC.gee,QIC.gee,MQIC.gee,QICW.gee,RJ.gee,RJ2.gee,WRsquare.gee, data_sim,ylag)
S3method(print, wgee)
S3method(summary, wgee)
S3method(print, summary.wgee)
